<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Change password</title>
    <script src="{{ url_for('static', filename='password_entropy.js') }}"></script>
</head>
<body>
    <h1>Change password</h1>
    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
    <form method="POST" action="{{ url_for('change_password') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <p>Current password: <input type="password" name="current_password" required></p>
        <p>Password: <input type="password" id="password" name="new_password" required></p>
        <p id="passwordFeedback" style="font-weight: bold;"></p>
        <p>Confirm new password: <input type="password" name="confirm_password" required></p>
        <p>TOTP code: <input type="text" name="totp" required></p>
        <div style="display:none;">
            <input type="text" name="honeypot" autocomplete="off">
        </div>
        <p><input type="submit" id="submitButton" value="Change password" disabled></p>
    </form>
    <p><a href="{{ url_for('index') }}">Go back to Homepage</a></p>
</body>
</html>
