<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Reset password</title>
    
    <script src="{{ url_for('static', filename='password_entropy.js') }}"></script>
</head>
<body>
    <h1>Reset password</h1>
    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <p>Password: <input type="password" id="password" name="new_password" required></p>
        <p id="passwordFeedback" style="font-weight: bold;"></p>
        <p>Confirm password: <input type="password" name="repeat_password" required></p>
        <p>Confirm new password: <input type="password" name="confirm_password" required></p>
        <div style="display:none;">
            <input type="text" name="honeypot" autocomplete="off">
        </div>
        <p><input type="submit" id="submitButton" value="Reset password" disabled></p>
    </form>
    <p><a href="{{ url_for('login') }}">Go back to log in page</a></p>
</body>
</html>
